.guarantee{
  line-height: 1.9em;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #444444;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  background-color: #a7cece;
  padding: 25px;
  padding-left: 80px;
  margin: 30px;
  margin-right: 300px;
  background-image: url(images/background.gif);
  background-repeat: no-repeat;
  background-position: top left;
  /* border-style: groove; */
  border-color: white;
  border-width: thin;
  border-width: 5px;
  border-color: rgb(0, 247, 255);
  border-top-color:green;
  border-top-width: thick;
  border-style: 15px;
}
#elixirs{
  border-width: thin;
  border-style: solid;
  border-color: #007e7e;
  width: 200px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-left: 20px;
  text-align: center;
  background-image: url(images/cocktail.gif);
  background-repeat: repeat-x;
  line-height: 1em;
  line-height: 1;
  padding: 0px 20px 30px 10px;
  margin: 0px 20px 30px 10px;
  padding: 20px;
  font: small/1.6em Verdana, Helvetica,Arial,sans-serif;
  float:right;
}
h1,h2{
  color: #007e7e;
}
div h2{
  color: black;
}
#elixirs h2{
  color: #444444;
}
#elixirs h3{
  color: aquamarine;
}
.cd{
  font-style: italic;
}
.artist{
  font-weight: bold;
}